/* Base styles */

* {
  /* border: 1px solid #d44747; */
}

.main-nav-outer {
  width: 100%;
  height: 10vh;
  padding: 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0%;
}

.main-nav-sub {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20% 0 0 10%;
}

.nav-2 {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0% 20%;
  background: rgb(255, 255, 255);
  color: rgb(10, 10, 10);
}

.nav-1 {
  width: 40%;
  height: 9vh;
  padding: 0 0 0 0%;
}

.sub-option-outer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.logo-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links {
  display: flex;
  align-items: center;
  gap: 70px;
}

.links-1{
    display: flex;
  align-items: center;
     gap: 15px;
}
.links a,
.shop button {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.links-1 a,
.shop button {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.links a:hover,
.shop button:hover {
  color: #2b103b;
}


.acounts-outer{
    width: 100%;
}
.cart {
    width: 100%;
  height: 4vh;
  vertical-align: middle;
}

/* Shop dropdown */
.shop {
  position: relative;
}

.drop {
  position: absolute;
  top: 35px;
  background: rgb(158, 126, 161);
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  min-width: 120px;
}

.drop a {
  padding: 10px;
  color: rgb(255, 255, 255);
}

/* Hamburger menu */
.menu {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  .nav.dark .links {
    background: #222;
  }

  .links.show {
    display: flex;
  }

 
  .menu {
    display: block;
  }
}

/* Dark background */
body.dark {
  background: #111;
  color: white;
}

.sub-outer-1 {
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-outer-2 {
  width: 60%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-outer-3 {
  width: 20%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
