*{
  /* border: 1px solid red; */
}

.main-home-outer {
 
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home {
  text-align: center;
 
  
  width: 60%;
  height: 80vh;
}


.hero-section p {
  color: #555;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.home-text {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.sub-text-home{
  width: 90%;
  height: 40%;
}

.text-home-welcome{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}


.hero-slideshow{
  width: 100%;
  height: 100%;
}