/* src/pages/CategoryPage.css */

.category-page {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.category-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.add-btn {
  margin-top: 10px;
  background-color: #522570;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.add-btn:hover {
  background-color: #6b2586;
}
